/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  font-family: 'Red Hat Display', sans-serif;
  font-size: 16px;
  overflow-x: hidden;
  transition: background-color 0.5s ease;
}

html, body {
  max-width: 100% !important;
  overflow-x: hidden !important;
}

.alineacion {
  padding: 15vh 10vw 10vh 10vw;
}

.ultraNegrita {
  font-weight: bolder;
}

.negrita {
  font-weight: 600;
}

.btn-primary {
  background-color: #3B39A5;
}

/******************************************
/* LAYOUT
/*******************************************/

/* HEADER */

header, nav {
  width: 100%;
  height: 5vh;
  position: fixed;
  z-index: 1000;
  top: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 10vh;
  padding-bottom: 10vh;
}

#site-header {
  transition: background-color 0.5s ease;
  border-bottom-left-radius: 50% 10%;
  border-bottom-right-radius: 50% 10%;
}

nav {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10vh;
  padding-bottom: 10vh;
}

nav > #branding {
  flex-basis: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

nav > #branding > img {
  max-width: 100%;
  width: 75%;
}

nav > ul {
  border-radius: 50px;
  box-shadow: 2px 2px 2px 2px rgba(19, 20, 20, 0.4);
  background-color: #c8c8ee;
  padding: 1rem;
  flex-basis: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 0;
}

nav > ul > li {
  list-style: none;
  font-weight: bold;
}

nav > ul > li > a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  cursor: pointer;
}

/* HERO SECTION */

#hero {
  display: flex;
  height: 80vh;
  align-items: center;
  background-color: #B1B1E0;
  /* border-bottom-left-radius: 50% 10%;
  border-bottom-right-radius: 50% 10%; */
}

#heroTextDiv {
  flex-basis: 45%;
  margin-top: 10vh;
  margin-left: 8vh;
}

#heroTextDiv > p {
  font-size: 2rem;
  font-weight: 600;
}

/* sep curvo 0 */

#abzoBlanco {
  background-color: white;
}

.curved {
  position: relative;
  background: #B1B1E0;
  height: 10vh;
  margin-top: -1rem;
  border-bottom-left-radius: 50% 44%;
  border-bottom-right-radius: 50% 44%;
}


/* QUIENES SOMOS */

#quienesSomos {
  display: flex;
  height: auto;
  justify-content: center;
  background-color: white;
  align-items: center;
  position: relative;
}

#quienesSomos > section {
  flex-basis: 60%;
}

#quienesSomosFoto {
  flex-basis: 30% !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#quienesSomosFoto > img {
  max-width: 100%;
}

#quienesSomosTexto {
  -webkit-box-shadow: 0px 0px 14px 2px rgba(0,0,0,0.76);
  -moz-box-shadow: 0px 0px 14px 2px rgba(0,0,0,0.76);
  box-shadow: 0px 0px 14px 2px rgba(0,0,0,0.76);
  padding: 2rem;
  color: white;
  display: flex;
  flex-direction: column;
  text-align: justify;
  background-color: #3B39A5;
  border-radius: 5%;
}

#quienesSomosTexto > h1 {
  text-align: left;
}

/* CLIENT SLIDER  */

#clientSlider {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10vh;
  padding-bottom: 10vh;
}

#clientSlider > * {
  margin-bottom: 3rem;
}

/* NUESTROS SERVICIOS */

/* sep curvo 1 */

#serv {
  background-color: #3b39a5;
}

.curved-one {
  position: relative;
  background: white;
  height: 10vh;
  border-bottom-left-radius: 50% 44%;
  border-bottom-right-radius: 50% 44%;
}

#nuestrosServicios {
  background-color: #3b39a5;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

#nuestrosServicios > * {
  margin-top: 3vh;
}

#botonServicios {
  width: 30%;
  background-color: #1d1e23;
  margin-top: 5vh ;
}

.botonCard {
  background-color: #1d1e23;
}

.card {
   background-color: #dfe0fe;
}

.equal-image {
  object-fit: cover;
  height: 50%; /* Ajusta la altura deseada */
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

/* FOOTER */

/* sep curvo 2 */

#elfooter {
  background-color: #1d1e23;
}

.curved-two {
  position: relative;
  background: #3b39a5;
  height: 10vh;
  border-bottom-left-radius: 50% 44%;
  border-bottom-right-radius: 50% 44%;
}

footer {
  background-color: #1d1e23;
  color: white;
}

.formLabel {
  color: gray;
}

#logoFooter {
  max-width: 100%;
  max-height: 100%;
}

.contactInfo {
  font-family: 'Red Hat Display', sans-serif;
  font-size: 16px;
}

.siteMapLink {
  text-decoration: none;
  color:#B1B1E0;
}

#formBtn {
  width: 100%;
}



/******************************************
/* ADDITIONAL STYLES
/*******************************************/
